sudo: required

language: python

services:
  - docker

python:
  - "2.7"
  - "3.5"
install:
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - nosetests -w test --with-coverage --cover-package=core,devices

after_success:
  - coveralls
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == false ]; then
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker build -t dmscid/plankton .;
    docker push dmscid/plankton;
    fi

branches:
  only:
    - master
