include LICENSE

include README.rst
include CONTRIBUTING.rst

graft docs
prune docs/_build

include requirements*.txt
include tox.ini
include .flake8

recursive-exclude lewis *.rst

recursive-include test *.py
