-r requirements.txt
approvaltests
isort
mock
sphinx
sphinx_rtd_theme
pytest
pytest-approvaltests
pytest-cov
coverage
tox
twine
wheel
pre-commit

# Pin to match versions in pre-commit hooks
black==20.8b1
flake8==3.8.4
