pyzmq
json-rpc
semantic_version
PyYAML
scanf

# If you want to use EPICS based devices, uncomment the pcaspy line.
# It requires a working EPICS installation, please refer to the
# installation instructions: https://pcaspy.readthedocs.io/en/latest/installation.html
#pcaspy
