-r requirements.txt
-r requirements-sphinx.txt
approvaltests==3.0.0
isort
mock
parameterized
pre-commit
pytest
pytest-approvaltests==0.2.3
pytest-cov
coverage
requests<2.30.0   # Keep jenkins happy
tox==3.27.1
tox-pyenv
twine
wheel

# Pin to match versions in pre-commit hooks
black==22.6.0
flake8==3.8.4
