-r requirements.txt
-r requirements-sphinx.txt
approvaltests
isort
mock
parameterized
pre-commit
pytest
pytest-cov
coverage
tox==3.27.1
tox-pyenv
twine
wheel

# Pin to match versions in pre-commit hooks
black==22.6.0
flake8==3.8.4
